<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sort the table</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css'>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <ng-view></ng-view>
  <!-- This piece of view is part of sortController -->
  <section ng-controller="SortCtrl">
    <span class="label">Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</span><br><br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <a href="#" ng-click="orderByField='userId'; reverseSort = !reverseSort">User ID 
              <span ng-show="orderByField == 'userId'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='id'; reverseSort = !reverseSort">ID 
              <span ng-show="orderByField == 'id'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span></span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='title'; reverseSort = !reverseSort">Title 
              <span ng-show="orderByField == 'title'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
          <th>
            <a href="#" ng-click="orderByField='body'; reverseSort = !reverseSort">Body 
              <span ng-show="orderByField == 'body'">
                <span ng-show="!reverseSort">^</span>
                <span ng-show="reverseSort">v</span>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="emp in data|orderBy:orderByField:reverseSort">
          <td>{{emp.userId}}</td>
          <td>{{emp.id}}</td>
          <td>{{emp.title}}</td>
          <td>{{emp.body}}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="sort/sort.js"></script>
</body>
</html>
